{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row my-5 text-center">
            <div class="col-md-12">
                <h1>Our Mission</h1>
                <p class="mt-4">reFresh was founded by a group of passionate college students looking to revolutionize the way we cook and use our ingredients.
                    Today, America constantly faces a problem of food waste, and this waste of food contributes to the acceleration of global warming
                    as more produce is needed to maintain the same levels of demand.
                    According to the <a href="https://www.theatlantic.com/business/archive/2016/07/american-food-waste/491513/">Atlantic</a>, 
                    "the average value of discarded produce is nearly $1,600 annually" for an American family of four. At reFresh, we believe that this
                    level of waste is unacceptable in our modern society, and we propose a solution to solve this issue.
                </p>
            </div>
        </div>
        <div class="row my-5 text-center">
                <div class="col-md-12">
                    <h1>Our Product</h1>
                    <p class="mt-4">
                        At reFresh, we've worked hard to provide you with the best possible way to reduce your waste by giving you ways to use
                        your leftover ingredients that you buy to cook your meals. reFresh offers the ability to add your ingredients and find recipes
                        that use those ingredients and other recipes that use your leftover ingredients from previous recipes. We also offer a way to
                        find recipes that you want. In addition, we provide an easy way to see how much of an ingredient you need and the cost of those
                        ingredients.
                    </p>
                </div>
            </div>
    </div>
{% endblock content %}