{% extends "layout.html" %}
{% block content %}
    <div id="shopping-list-div" class="container">
        <table class="table">
            <thead class="thead-dark">
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            </thead>
            <tbody>
            {% for product in ingredients %}
                <tr>
                    <td>
                        <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ product.image_url }}">
                    </td>
                    <td>{{ product.name.title() }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.quantity }} {{ product.quantity_type }}</td>
                    <td>x {{ product_multiplier_dict[product.name] }}</td>
                    <td>${{ product.price * product_multiplier_dict[product.name] }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td></td>
                    <td>{{ ingredients.__len__() }} item(s)</td>
                    <td></td>
                    <td>${{ total }}</td>
                </tr>
            </tbody>
        </table>

{% endblock content %}