{% extends "layout.html" %}
{% block content %}

    <form method="POST">
        <div class="row my-3 justify-content-center">
        {{ form.hidden_tag() }}
        {{ form.select.label(class="form-control-label") }}
        {{ form.select(class="form-select") }}
        </div>
        <div class="row my-3 justify-content-center">
        {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>


{% for recipe in recipes %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <h3 class="text-center">{{ recipe.title }}</h3>
        <img class="justify-content-center rounded" src="{{ recipe.image }}" alt=""></img>
    </div>
</div>
    
{% endfor %}


{% endblock content %}