{% extends "layout.html" %}
{% block content %}

<form action="" method="POST">
    <div id = "search-recipe-row" class="row justify-content-center">
        {{ form.hidden_tag() }}
        <h1 class="my-3">{{ form.name.label(class="form-control-label") }}</h1>
    </div>
    <div class="row justify-content-center">
        {{ form.name(id = "search-recipe-form", class="mx-5 form-control form-control-lg") }}
    </div>

    <div class="row justify-content-center">
        {{ form.submit(class="my-4 btn btn-outline-info") }}
    </div>
</form>

{% endblock content %}