body {
    font-family: "Caveat Brush";
    font-size: 22px;
}

.btn {
    border: 1px solid rgb(90, 143, 220)
}

.btn a{
    color: rgb(90, 143, 220)
}

.btn:hover a {
    color: white;
}
.btn:hover {
    background-color: rgb(90, 143, 220);
    transition: .4s;

}

.nav-link {
    color: rgb(90, 143, 220);
}

.navbar-toggler {
    border: 1px solid rgb(90, 143, 220);
}

.navbar {
    border-bottom: 1px solid rgb(90,143,220);
}
.navbar-brand {
    font-size: 2.0em;
}

#home-container {
    height: 100vh;
    /*border: 1px solid grey;*/
}

#splash-row {
    height: 50vh;
}

.splash-container {
    width: 85vh;
    height: 200vh;
    background: url('./images/splash.png');
    background-repeat: no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%; /*  Safari  */
      -khtml-background-size: 100% 100%; /*  Konqueror  */
      -moz-background-size: 100% 100%; /*  Firefox  */
   
}
#nav-img {
    height: 8vh;
}

#ingredients-div {
    margin-top: 5vh;
}

